p {
  color: #2c3e50;
}

.cv-header {
  background-color: #2c3e50 !important;
  padding: 16px;
}

.avatar-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  border: 4px solid whitesmoke !important;
  width: 100%;
  height: auto;
}

.name {
  font-size: 48px;
  font-family: "museo_sans700";
  color: #fff !important;
  font-weight: bolder;
}

.nick-name {
  color: white !important;
  font-size: 1.5vw;
  font-family: "museo_sans700";
}

.title {
  font-size: 36px;
  font-family: "museo_sans300";
  color: #fff !important;
  font-weight: 500;
  margin-top: 12px;
}

.major {
  margin-top: 8px;
  font-size: 16px;
  font-family: "museo_sans700";
  font-weight: 700;
}

.location {
  margin-top: 14px;
  margin-bottom: 28px;
  font-size: 16px;
  font-family: "museo_sans500";
  color: rgb(94, 97, 109) !important;
}

.contact {
  font-size: 18px;
  font-family: "museo_sans300";
  color: #fff !important;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  display: table-cell;
  padding-left: 8px;
}

.contact-item {
  font-size: 22px;
  display: table;
  margin-bottom: 8px;
}

.mt-12 {
  margin-top: 16px;
}

.about {
  color: white;
  font-size: 14px;
  font-family: "museo_sans300";
  font-weight: 300;
}

.section-title {
  font-size: 24px;
  font-family: "museo_sans900";
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.cv-content {
  padding: 8%;
  background-color: white;
}

.ml16 {
  margin-left: 16px;
}

.mt32 {
  margin-top: 32px;
}

.mt0 {
  margin-top: 0 !important;
}

.company-name {
  margin-top: 32px;
  font-size: 20px;
  font-family: "museo_sans900";
  font-weight: bolder;
}

.period {
  padding: 4px;
  padding-left: 0;
  font-size: 12px;
  font-family: "museo_sans500";
  font-style: italic;
}

.position {
  font-size: 16px;
  font-family: "museo_sans300";
}

.job-title {
  margin-top: 12px;
  font-size: 16px;
  font-family: "museo_sans900";
  font-weight: bolder;
}

.details {
  list-style: none;
  margin-top: 8px;
  margin-left: 36px;
}

.details > li > p {
  font-size: 14px;
  font-family: "museo_sans300";
  margin-top: 6px;
  line-height: 20px;
}

.objective {
  font-size: 14px;
  font-family: "museo_sans300";
  line-height: 22px;
}

ul li p::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #009bd6; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.tech-skill {
  font-size: 14px;
  font-family: "museo_sans500";
}

.project-title {
  font-size: 14px;
  font-family: "museo_sans500";
}

.project-description {
  font-size: 14px;
  font-family: "museo_sans300";
  line-height: 22px;
  margin-top: 12px;
}

.hlink {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hlink a,
.hlink p {
  display: inline-block !important;
}

.app-logo {
  width: 30px;
  height: 30px;
  border-radius: 8px;
}
